{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block body %}
<table class="table">
    <thead>
      <tr>
        <th scope="col"><u>No.</u></th>
        <th scope="col"><u>Blog Title</u></th>
        <th scope="col"><u>Created At</u></th>
        <th scope="col"><u>Action</u></th>
      </tr>
    </thead>
    <tbody>
        {% for blog in blog_objs %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td><b>{{blog.title}}</b></td>
        <td>{{blog.created_at}}</td>
        <td>
            <a href="{% url 'blog_update' blog.slug %}" class="btn btn-success">Update</a>
            <a href="{% url 'blog_delete' blog.id %}" class="btn btn-danger">Delete</a>


        </td>
      </tr>
     {% endfor %}
    </tbody>
  </table>
{% endblock body %}